<h1 class='error'>Error</h1>
Resources cannot be created or modified without a secret code.
Or maybe you just need to re-enter it. If you enable cookies you'll have to do this
less often.

Please see 
<%= link_to 'FAQ', faq_path %>
if you'd like to help out. Thanks!
