<h1>What's going on here?</h1>
I wanted a site that had a map, was not a free-for-all like Craigslist or Facebook.

This site is part of a broader mission to get people more active in politics, because the 
only healthy democracy is one where we go all in.

<h1>Can I help out?</h1>
Yes, please! We're especially looking for people who are active in their communities or want 
to be. Also programmers who can help the site grow. And anyone who has ideas. We'd love to 
hear them.

<h1>Reporting a bug?</h1>
Thanks for letting us know. If you could email us (below) we'd be grateful. 

<h1>I like your site, who made it?</h1>
This site wouldn't exist witout calagator.org, which has been a mainstay of Portland OR's
tech industry and community for years. I did a few little things, mostly tweaking the layout. 
If something's broken though, you can be pretty sure it was me not them.

<h1>Other inquiries?</h1>
We'd love to hear from you.

<h1>Contact?</h1>
askgrokus@gmail.com
