<h1>What's going on here?</h1>
<p>
I wanted a site that had a map, and was not a free-for-all like Craigslist or Facebook.

This site is part of a broader mission to get people more active in politics. 
</p>

<h1>How can I add my event?</h1>
Join the Facebook group called grokus.xyz and post your event there. If you've never 
shared to a Facebook group before, first you need to join. Then you go to an event and 
you click Share > 'Share in Newsfeed' and then click 'Share on your own timeline' and change 
the selection to 'Share in a group'. Search for the group (you can only do that once 
you've joined it). The Facebook group is a feeder group. Someone will see your event there
and add it to this calendar. Right now we only have the bandwidth to cover Portland. But if 
there's interest, we'd certainly like to expand.
<p>

</p>

<h1>Can I help out?</h1>
<p>
Yes, please! If you want to do something, let me know. Email below.
</p>

<h1>Reporting a bug?</h1>
<p>
Thanks for letting us know. If you could email us (below) we'd be grateful. 
</p>

<h1>I like your site, who made it?</h1>
<p>
This site wouldn't exist witout calagator.org, which has been a mainstay of Portland OR's
tech industry/community for years. I did a few little things, mostly tweaking the layout. 
If something's broken though, you can be pretty sure it was me not them.
</p>

<h1>What's with the name 'Grokus'?</h1>
<p>
Cheap domains are getting harder to come by these days.
</p>

<h1>Other inquiries?</h1>
<p>
We'd love to hear from you.
</p>

<h1>Contact?</h1>
<p>
askgrokus@gmail.com
</p>
